[package]
name = "playground"
version = "0.1.0"
edition = "2024"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[dependencies]
appcui = "0.3.1"
wave_function_collapse = {path = "../"}
pad = { git = "https://github.com/Warhorst/pad.git", tag = "1.3.0"}
